# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

CLOUDINARY_API_KEY=""
CLOUDINARY_SECRET=""
CRYPTO_SECRET=""
EMAIL_HOST=""
EMAIL_PASSWORD=""
EMAIL_PORT=""
EMAIL_SECURE=""
EMAIL_USER=""
JWT_SECRET=""
MONGODB_URI=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CRYPTO_SECRET=""
KV_URL=""
KV_REST_API_URL=""
KV_REST_API_TOKEN=""
KV_REST_API_READ_ONLY_TOKEN=""