# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

MONGODB_URI="" # Can be found in MongoDB Atlas dashboard or Compass (https://www.mongodb.com/docs/guides/atlas/cluster/)
SERVER_URL="". # e.g. "http://localhost:3000" or "https://mydomain.com" (domain of the url you use to access the server)

# Google Sheets Integration
GOOGLE_CLIENT_EMAIL="" # Create google client account at https://console.cloud.google.com/iam-admin/serviceaccounts
GOOGLE_PRIVATE_KEY=""  # In the client account, create and download a new private key
SHEET_ID="".           # Google sheets ID, can be found in the url of the sheet

# Google Cloud Storage                      # https://console.cloud.google.com/storage/browser
GOOGLE_CLOUD_PROJECT=""                     # Your Google Cloud Project ID
GOOGLE_CLOUD_BUCKET=""                      # Your Google Cloud Storage Bucket name
GOOGLE_APPLICATION_CREDENTIALS_JSON=""      # The content of the JSON file you download when creating a service account key

# Vercel KV
KV_URL=""                           # The URL of your Vercel KV instance
KV_REST_API_URL=""                  # The REST API URL of your Vercel KV instance
KV_REST_API_TOKEN=""                # The REST API token for your Vercel KV instance
KV_REST_API_READ_ONLY_TOKEN=""      # The read-only REST API token for your Vercel KV instance
